<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true" use-expressions="false">
        <intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/ws/*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/**" access="ROLE_REGISTERED_USER"/>
        <form-login login-page="/login.html" default-target-url="/"
                    authentication-success-handler-ref="savedRequestAwareAuthenticationSuccessHandler"/>
        <logout logout-success-url="/" delete-cookies="JSESSIONID"/>
        <remember-me data-source-ref="dataSource" token-validity-seconds="30000" remember-me-parameter="rememberMe"/>
        <csrf disabled="true"/>
    </http>

    <global-method-security secured-annotations="enabled"/>

    <b:bean id="authProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <b:property name="userDetailsService" ref="authService"/>
        <b:property name="passwordEncoder" ref="pwdEncoder"/>
    </b:bean>

    <b:bean id="pwdEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <b:bean id="savedRequestAwareAuthenticationSuccessHandler"
            class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler"/>

    <authentication-manager>
        <authentication-provider ref="authProvider"/>
    </authentication-manager>
</b:beans>

